 .App {
  text-align: center;
}

.home-page {
  text-align: center;
} 
 .nav-bar {
   text-align: center;
   font-size: xx-large;
   color: black;
 }

.reviews-container {
  background-color: #EE6D73; 
  margin: 0;
  padding: 0;
}

#review-card {
  text-align: center;
  border: solid 10px black;
  margin: 45px;
  padding: 10px;
  background-color: aliceblue;
}
#button-rev-card{
  text-align: center;
}

textarea {
  resize: vertical;
  font-family: impact, fantasy;
  font-size: large;
}

input{
   margin-top: 25px; 
   height: 2em; 
   width: 15em; 
  margin: 100px;
  background-color: #EE6D73;
  color: white;
  font-family: impact, fantasy;
  font-size: large;
}


form {
  padding: 60px;
  background-color: #EE6D73;
  margin-top: 6em;
  width: 20em;
  position: relative;
  left: 50%;
  margin-left: -11em;
}

::placeholder {
  color: black;
}

#review-list-title {
text-align: center;
margin: 0;
padding: 0;
}

.game-list-title {
  text-align: center;
}

#game-card:hover {
  text-align: center;
  background: fixed black;
  -webkit-transition: background-color 1.5s ease-out;
  -moz-transition: background-color 1.5s ease-out;
  -o-transition: background-color 1.5s ease-out;
  transition: background-color 1.5s ease-out;
  cursor: pointer;
}

.game-card-title {
  background-color: black;
  border: solid black;
}

@keyframes bgcolor {
  0% {
      background-color: #EE6D73;
  }

  25% {
      background-color: #EE6D73;
  }

  50% {
      background-color: #EE6D73;
  }

  75% {
      background-color: red
  }

  100% {
      background-color: #EE6D73;
  }

}

body {
  -webkit-animation: bgcolor 5s infinite;
  animation: bgcolor 5s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


