 .App {
  text-align: center;
}

.home-page {
  text-align: center;
} 

.home-img{
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1604846887565-640d2f52d564?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2FtaW5nJTIwY29uc29sZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
}

.nav-bar {
  text-align: center;
  font-size: xx-large;
  color: black;
}

.reviews-container {
  background-color: #EE6D73; 
  margin: 0;
  padding: 0;
}

#review-card {
  text-align: center;
  border: solid 10px black;
  margin: 45px;
  padding: 10px;
  background-color: aliceblue;
}
#button-rev-card{
  text-align: center;
}

textarea {
  resize: vertical;
  font-family: impact, fantasy;
  font-size: large;
  height: 300px;
}

input{
  margin-top: 25px; 
  height: 2em; 
  width: 15em; 
  margin: 100px;
  color: white;
  font-family: impact, fantasy;
  font-size: large;
}

form {
  border: solid 5px black;
  padding: 15px;
  background-color: #EE6D73;
  margin-top: 6em;
  width: 400px;
  height: 600px;
  position: relative;
  left: 50%;
  margin-left: -13em;
}

::placeholder {
  color: black;
}

#review-list-title {
  text-align: center;
  margin: 0;
  padding: 0;
}

.game-list-title {
  text-align: center;
}

#game-card:hover {
  padding: -14px;
  margin-bottom: -14px;
  text-align: center;
  background: fixed black;
  -webkit-transition: background-color 1.5s ease-out;
  -moz-transition: background-color 1.5s ease-out;
  -o-transition: background-color 1.5s ease-out;
  transition: background-color 1.5s ease-out;
  cursor: pointer;
}

.game-card-title {
  background-color: white;
  border: solid 1px white;
}

.game-card-title{
  background-color: black;
  -webkit-animation: bgcolor 10s infinite;
  animation: bgcolor 5s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

body {
  background-color: #EE6D73;
}

/* @keyframes bgcolor {
  0% {
    background-color: rgba(38, 92, 163, 0.616);
  }

  25% {
  background-color: rgba(102, 38, 204, 0.75);
  }

  50% {
    background-color: rgb(155, 70, 189);
  }

  75% {
    background-color: rgb(189, 79, 161);
  }

  100% {
    background-color: rgb(235, 96, 119);
  }

} */

